.about {
  padding: 7px 120px 30px 0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include vp-1199 {
    padding: 7px 45px 30px 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 7px 0 16px;
    gap: 43px;
  }
}

.about__img {
  align-self: center;
  background-color: $color-silk;

  @include vp-1199 {
    width: 50%;
  }

  @include vp-767 {
    width: fit-content;
    align-self: flex-start;
  }
}

.about__title {
  font-size: 35px;
  font-weight: 800;
  margin: 0;

  @include vp-1199 {
    font-size: 25px;
  }

  @include vp-767 {
    font-size: 22px;
  }
}

.about__title-wrapper {
  margin: 0 0 56px;
  position: relative;

  @include vp-1199 {
    margin: 0 0 36px;
  }

  @include vp-767 {
    margin: 0 0 33px;
  }
}

.about__title-shadow {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  opacity: 0.03;
  bottom: 0;
  z-index: -1;

  @include vp-1199 {
    font-size: 40px;
  }
}

.about__text-wrapper {
  padding: 36px 0 0;
  max-width: 585px;
  overflow: hidden;

  @include vp-1199 {
    max-width: 45%;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 15px;
  }
}

.about__text-wrapper h3 {
  margin: 0 0 17px;
  font-size: 21px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.about__text-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;

  &:not(:last-child) {
    margin: 0 0 26px;

    @include vp-767 {
      margin: 0 0 45px;
    }
  }

  @include vp-1199 {
    font-size: 14px;
  }

  @include vp-767 {
    line-height: 1.4;
  }
}
