.footer {
  padding: 30px 0;
  border-top: 1px solid $color-primary-black-20;

  @include vp-1199 {
    padding: 43px 0 46px;
  }

  @include vp-767 {
    padding: 30px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
  }

  @include vp-767 {
    padding: 0 20px;
  }
}

.footer__main-nav {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin: 0 0 13px;
  gap: 14px;

  @include vp-1199 {
    margin: 0 0 33px;
    align-items: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 19px;
    margin: 0 0 30px;
  }
}

.footer__navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 12px;
  width: 584px;
  flex-shrink: 0;
  transition: opacity $trans-default, transform cubic-bezier(0.21, 0.67, 0.58, 1) 0.3s;

  @include vp-1199 {
    justify-content: flex-start;
    width: auto;
    max-width: 594px;
    gap: 14px 20px;
    padding: 7px 5px 0 0;
    flex-shrink: 0;
  }

  @include vp-767 {
    padding: 0;
    max-width: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
  }
}

.footer__socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-primary-black-30;
  transition: border-color, background-color $trans-default;

  &:focus,
  &:hover {
    outline: none;
    border-color: $color-primary-black;
  }

  &:active {
    background-color: $color-icon-additional;
    border-color: transparent;
  }

  &:active svg {
    fill: $color-default-white;
  }

  &--disabled svg {
    fill: $color-primary-black-30;
  }
}

.footer__navigation-link {
  display: flex;
  align-items: center;
  color: $color-primary-black;
  position: relative;
  letter-spacing: 0.1px;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    background-color: currentColor;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity $trans-default;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 6px);
    border: 1px solid currentColor;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity $trans-default;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:focus:not(:active) {
    outline: none;

    &::after {
      opacity: 1;
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  @include vp-1199 {
    font-size: 14px;
  }

  @include vp-767 {
    width: fit-content;
  }
}

.footer__phone-link {
  font-size: 18px;
  color: $color-primary-black;
  font-weight: 600;
  transition: color $trans-default;

  @include hover-focus {
    outline: none;
    color: $color-active;
  }

  &:active {
    color: $color-additional;
  }

  &--disabled {
    color: $color-default-white;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 17%;
  }

  @include vp-1199 {
    display: none;
  }
}

.footer__socials-list {
  display: flex;
  padding: 0;
  gap: 15px;
  list-style: none;
  margin: 0 0 21px;
}

.footer__socials-item {
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials-item svg {
  fill: $color-primary-black;
}

.footer__terms {
  font-size: 12px;
  font-weight: 300;
  width: fit-content;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-active;
  }

  &:active {
    color: $color-additional;
  }

  &--disabled {
    color: $color-additional-20;
  }
}
