.logo {
  display: block;
}

.logo__svg {
  color: $color-default-white;
}

.logo--header .logo__svg {
  transition: color $trans-default;

  @include hover-focus {
    color: $color-active;
  }

  &:active {
    color: $color-additional;
  }

  &--disabled {
    color: $color-additional-20;
  }

  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.logo--footer .logo__svg {
  color: $color-primary-black;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-active;
  }

  &:active {
    color: $color-additional;
  }

  &--disabled {
    color: $color-additional-20;
  }

  @include vp-1199 {
    width: 118px;
    height: 36px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}
