.process {
  padding: 21px 0 0;
  position: relative;
  overflow-y: visible;

  @include vp-1199 {
    padding: 13px 0 0;
  }

  @include vp-767 {
    padding: 22px 0 0;
  }
}

.process__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 0 0 32px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(63px, auto));
    grid-auto-flow: row;
    gap: 0;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
    padding: 0 0 0 26px;
    gap: 23px;
  }
}

.process__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto 41px;
  padding: 0 120px;
  max-width: 1440px;

  @include vp-1199 {
    padding: 0 45px;
    font-size: 18px;
  }

  @include vp-767 {
    padding: 0 19px;
    font-size: 16px;
    margin: 0 auto 27px;
  }
}

.process__list-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 33px 0 26px;
    display: flex;
    gap: 0;
  }
}

.process__item {
  display: flex;
  position: relative;
  gap: 15px;
  align-items: flex-end;
  max-width: 277px;

  @media (max-width: 1199px) and (min-width: 768px) {
    max-width: 100%;
    min-height: 48px;

    &:first-child {
      padding: 0 0 18px;
      align-self: end;

      &::after {
        content: "";
        position: absolute;
        bottom: 3px;
        width: calc(100% + 15px);
        height: 1px;
        background-color: $color-additional;
        opacity: 0.2;
      }

      &::before {
        bottom: -4px;
      }
    }

    &:not(:last-child):nth-child(4n + 2) {
      padding: 0 0 18px 15px;
      align-self: end;

      &::after {
        content: "";
        position: absolute;
        bottom: -58px;
        left: 21px;
        width: 1px;
        height: 60px;
        background-color: $color-additional;
        opacity: 0.2;
      }

      &::before {
        bottom: -4px;
      }
    }

    &:nth-child(3n) {
      grid-column: 2 / 3;
      grid-row-start: 2;
      padding: 71px 0 0 15px;
      align-self: start;

      &::before {
        bottom: auto;
        top: 44px;
      }
    }

    &:nth-child(4n) {
      padding: 71px 0 0;
      align-self: start;

      &::after {
        content: "";
        position: absolute;
        top: 51px;
        width: calc(100% + 15px);
        height: 1px;
        background-color: $color-additional;
        opacity: 0.2;
      }

      &::before {
        bottom: auto;
        top: 44px;
      }
    }
  }

  @include vp-767 {
    max-width: 100%;
    font-size: 12px;

    &:first-child {
      align-items: flex-start;

      &::before {
        bottom: auto;
        top: 15px;
      }

      svg {
        margin: 10px 0 0;
      }
    }

    &::after {
      content: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-additional;
    bottom: -40px;

    @include vp-767 {
      bottom: 11px;
      left: -33px;
    }
  }

  svg {
    flex-shrink: 0;
    margin: 0 0 13px 0;

    @include vp-767 {
      width: 19px;
      height: 19px;
    }
  }
}

.process__desc {
  line-height: 1.5;

  @include vp-1199 {
    line-height: 1.6;
    font-size: 14px;
    max-width: 197px;
  }

  @include vp-767 {
    font-size: 12px;
  }
}

.process__track {
  position: relative;
  background-color: $color-additional;
  opacity: 0.2;

  @media (min-width: 1200px) {
    left: 50%;
    transform: translateX(-50%);
    width: 1000%;
    height: 1px;
  }

  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: block;
    position: absolute;
    width: 1px;
    height: auto;
    top: 15px;
    bottom: 15px;
  }
}
