.reviews {
  padding: 6px 0 66px;
  overflow: hidden;

  @include vp-1199 {
    padding: 40px 0 35px;
  }

  @include vp-767 {
    padding: 44px 0 0;
  }
}

.reviews__heading-wrapper {
  margin: 0 0 30px;
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    margin: 0 0 11px;
  }
}

.reviews__title-wrapper {
  position: relative;
}

.reviews__title {
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  padding: 15px 85px 0 0;

  @include vp-1199 {
    font-size: 25px;
  }

  @include vp-767 {
    font-size: 22px;
  }
}

.reviews__title-shadow {
  font-size: 55px;
  font-weight: 800;
  opacity: 0.03;
  position: absolute;
  bottom: 0;

  @include vp-1199 {
    font-size: 40px;
  }

  @include vp-767 {
    font-size: 26px;
  }
}

.reviews__slider-controls {
  align-self: center;
  display: flex;
  gap: 5px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  min-height: 293px;

  @include vp-1199 {
    min-height: 275px;
  }

  @include vp-767 {
    min-height: 466px;
  }
}

.reviews__item {
  padding: 20px 40px 20px 20px;
  display: flex;
  gap: 30px;
  width: 790px;
  flex-wrap: wrap;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  picture {
    flex-shrink: 0;

    @include vp-1199 {
      width: 186px;
      height: 237px;
    }

    @include vp-767 {
      aspect-ratio: 250 / 169;
      width: 100%;
      height: auto;
    }
  }

  img {
    @include vp-767 {
      aspect-ratio: 250 / 169;
      width: 100%;
    }
  }

  @include vp-1199 {
    padding: 17px 30px 20px 20px;
    width: 560px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}

.reviews__img-wrapper {
  background-color: $color-light-orange;
  height: 253px;

  @include vp-767 {
    width: 100%;
    height: auto;
  }
}

.reviews__slider {
  padding: 0 30px 20px;
  width: calc(100% + 60px);
  margin: 0 0 0 -30px;

  @include vp-767 {
    padding: 20px 15px;
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
  }
}

.reviews__slider-control {
  padding: 17px 12px;
  width: 37px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  background-color: $color-additional;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color, background-color $trans-default;

  svg {
    fill: $color-default-white;
    transition: fill $trans-default;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $color-active;

    svg {
      fill: $color-active;
    }
  }

  &:active {
    background-color: $color-active;

    svg {
      fill: $color-default-white;
    }
  }

  &:disabled {
    background-color: $color-additional-20;
    pointer-events: none;
  }
}

.reviews__text-wrapper {
  width: 442px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 294px;
    padding: 4px 0;
  }

  @include vp-767 {
    width: 100%;
    flex-grow: 1;
    padding: 0;
  }

  p {
    font-size: 14px;
    margin: 0 0 15px;
    line-height: 1.5;

    @include vp-1199 {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  h3 {
    font-size: 13px;
    font-weight: 700;
    margin: auto 0 8px;

    @include vp-1199 {
      font-size: 12px;
    }
  }

  span {
    font-size: 12px;
    font-weight: 300;
  }

  br {
    display: block;
    content: "";
    margin: 13px 0;

    @include vp-1199 {
      margin: 9px 0;
    }
  }
}
